.homepage {

  &__claim {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
  }
  .jumbotron {
    background-color: rgba(#fff, 0.8);
  }
}